name: pytest

on:
  pull_request:

jobs:
  pytest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.13
      - uses: astral-sh/setup-uv@v6
      - name: Install Python dependencies
        run: uv sync --extra dev
      - name: Run zuban
        run: uv run --with zuban zuban check
      - name: Run tests
        run: uv pytest
